<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>IDS prueba</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">IDS de Prueba</h1>
        <table class="table is-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>juan</td>
                    <td>1234</td>
                </tr>
                <tr>
                    <td>prueba</td>
                    <td>1000</td>
                </tr>
            </tbody>
        </table>
        <a class="button is-primary" href="/users/login">Ir al login</a>
    </div>
</section>
</body>
</html>