<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Labs</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/labsstyle.css">
</head>

<body class="all">

<nav class="navbar is-primary" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <strong>TC2005B</strong>
    </a>
  </div>
  <div class="navbar-menu">

    <div class="navbar-start">
      <% if (typeof(permisos) != 'undefined' && permisos.includes('ver_usuarios')) { %>
        <a class="navbar-item" href="/users/list">Lista de usuarios</a>
      <% } %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if (typeof(username) != "undefined" && username != '') { %>
            <span class="navbar-item">Hola, <strong>&nbsp;<%= username %></strong>!</span>
            <a class="button is-light" href="/users/logout">Log out</a>
          <% } else { %>
            <a class="button is-light" href="/users/login">Log in</a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="section">
  <div class="container">
    <div class="labsbox">

      <h1 class="title has-text-centered">Labs</h1>

      <div class="grid labsgrid">

        <div class="cell">
            <a class="box lab-box" href="/labs/lab1">Lab 1: Intro</a>
        </div>

        <div class="cell">
            <a class="box lab-box" href="/labs/lab3">Lab 3: CSS</a>
        </div>

        <div class="cell">
            <a class="box lab-box" href="/labs/lab4">Lab 4: JavaScript</a>
        </div>

        <div class="cell">
            <a class="box lab-box" href="/labs/lab5">Lab 5: Frameworks</a>
        </div>

        <div class="cell">
            <a class="box lab-box" href="/labs/lab6">Lab 6: POE</a>
        </div>

        <div class="cell">
            <a class="box lab-box" href="/labs/lab10">Lab 10: Rutas</a>
        </div>

        <div class="cell">
            <a class="box lab-box" href="/labs/lab11">Lab 11: Express</a>
        </div>

        <div class="cell">
            <a class="box lab-box" href="/labs/lab12">Lab 12: HTML Dinamico</a>        
        </div>

        <div class="cell">
            <a class="box lab-box" href="/labs/lab13">Lab 13: MVC</a>        
        </div>

        <div class="cell">
            <a class="box lab-box" href="/labs/lab17">Lab 17: Interacción con BD</a>        
        </div>

        <div class="cell">
            <a class="box lab-box" href="/labs/lab18">Lab 18: Autenticación</a>        
        </div>

        <div class="cell">
            <a class="box lab-box" href="/labs/lab19">Lab 19: RBAC</a>        
        </div>

        <div class="cell">
            <a class="box lab-box" href="/labs/lab24">Lab 24: AJAX</a>        
        </div>

        <div class="cell">
            <div class="box lab-box">Lab 15</div>
        </div>

        <div class="cell">
            <div class="box lab-box">Lab 16</div>
        </div>

        <div class="cell">
            <div class="box lab-box">Lab 17</div>
        </div>

        <div class="cell">
            <div class="box lab-box">Lab 18</div>
        </div>

        <div class="cell">
            <div class="box lab-box">Lab 19</div>
        </div>

        <div class="cell">
            <div class="box lab-box">Lab 20</div>
        </div>

        <div class="cell">
            <div class="box lab-box">Lab 21</div>
        </div>

        <div class="cell">
            <div class="box lab-box">Lab 22</div>
        </div>

        <div class="cell">
            <div class="box lab-box">Lab 23</div>
        </div>

        <div class="cell">
            <div class="box lab-box">Lab 24</div>
        </div>

        <div class="cell">
            <div class="box lab-box">Lab 25</div>
        </div>

        <div class="cell">
            <div class="box lab-box">Lab 26</div>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="labsbox">

      <h1 class="title has-text-centered">Other</h1>

      <div class="grid labsgrid">
        <div class="cell">
            <div class="box lab-box">Example</div>
        </div>
      </div>

    </div>
  </div>
</section>

</body>
</html>