<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reference</title>
    <link rel="stylesheet" href="/css/stylequestion.css">
</head>

<body class="all">

<header>
    <h1>Videos future reference</h1>

    <a href="https://www.youtube.com/watch?v=vY2xUc4TVmY">GUIDE NO.1</a>
    <div></div>

    <a href="https://www.youtube.com/watch?v=j6nOnIT-T1o">GUIDE NO.2</a>
    <div></div>

    <a href="https://www.youtube.com/watch?v=Ihy0QziLDf0">GUIDE NO.3</a>
</header>

</body>
</html>