<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container" style="max-width: 400px;">
        <h1 class="title">Crear cuenta</h1>

        <div id="dont_match" class="notification is-warning" style="display:none;">
            Las contraseñas no coinciden
        </div>

        <form action="/users/signup" method="POST">
            <div class="field">
                <label for="username" class="label">Username</label>
                <div class="control">
                    <input id="username" name="username" class="input" type="text" placeholder="e.g jpjuarez" required>
                </div>
            </div>
            <div class="field">
                <label for="nombre" class="label">Nombre</label>
                <div class="control">
                    <input id="nombre" name="nombre" class="input" type="text" placeholder="e.g Juan Pablo" required>
                </div>
            </div>
            <div class="field">
                <label for="password" class="label">Password</label>
                <div class="control">
                    <input id="password" name="password" class="input" type="password" required>
                </div>
            </div>
            <div class="field">
                <label for="password_confirm" class="label">Confirmar password</label>
                <div class="control">
                    <input id="password_confirm" name="password_confirm" class="input" type="password" required>
                </div>
            </div>
            <input class="button is-primary" type="submit" value="Registrarse">
            <a class="button is-light" href="/users/login">Ya tengo cuenta</a>
        </form>
    </div>
</section>

<script>
    const password_confirm = document.getElementById('password_confirm');
    const password = document.getElementById('password');
    const dont_match = document.getElementById('dont_match');
    password_confirm.onkeyup = () => {
        if (password_confirm.value != password.value) {
            dont_match.style.display = "block";
        } else {
            dont_match.style.display = "none";
        }
    }
</script>
</body>
</html>