@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@331&display=swap');

.test {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
}

#me {
    color: rgb(196, 196, 196);
    font-family: 'Roboto', sans-serif;
}

.all  {
    background-color: black;
    color: white;
    padding: 40px;
    text-align: center;
}

h1 {
    font-family: Helvetica;
    font-size: 36px;
}

strong {
    font-weight: 600;
    color: #f77e7e;
}

button {
    background-color: #f77e7e;
    color: white;
    border: none;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}