<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../includes/head.ejs', { 
    title: "Lab 10",
    cssFile: "/css/lab6.css"
}) %>
</head>
<body class="all">
    <header class="header">
        <h1>Lab 10 Rutas</h1>
        <h3 id="title"> Activarlo en VS Code (node lab10.js en terminal) y poner en navegador lo siguiente: </h3>
        <h2>localhost:4000</h2>
    </header>
</body>
</html>