<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab10</title>
    <link rel="stylesheet" href="/css/lab6.css">
</head>
<body class="all">
    <header class="header">
        <h1>Lab 10 Rutas</h1>
        <h3 id="guide"> Describe el archivo package.json </h3>
        <p class="questions"> El archivo package.json es el documento central de configuración de un proyecto en Node.js. En él se almacena
            información básica como el nombre, versión y autor del proyecto, pero su función más importante es gestionar las
            dependencias, es decir, los paquetes externos que el proyecto necesita para funcionar, como Express o EJS. A
            demás, permite definir scripts personalizados para ejecutar comandos fácilmente, como iniciar el servidor 
            con npm start. En general package.json organiza, describe y controla todo lo que es necesario para que un proyecto
            pueda instalarse y despues ejecutarse correctamente en muchos diferentes entornos</p>
    </header>
</body>
</html>