<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../includes/head.ejs', { 
    title: "Lab 13",
    cssFile: "/css/lab6.css"
}) %>
</head>
<body class="all">
    <header class="header">
        <h1>Lab 13 MVC</h1>
        <h3> ¿Qué beneficios encuentras en el estilo MVC?</h3>
        <p class="questions2"> En mi opinon, el estilo arquitectonico tiene muchos beneficios principalmente en cuanto a la 
        organización. Este hace que cada cosa este separada en su propio lugar haciendo buscar y hacer cambios algo bastante
        más fácil. Por ejemplo esta más fácil saber que models maneja los datos, controllers la lógica y asi. Hace que el
        proyecto en general sea algo más entendible y supongo que ayuda bastante cuando el proyecto crece mucho jusstamente
        por todo lo que mencione.  </p>
        <h3> ¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h3>
        <p class="questions2"> En mi opinon, el estilo arquitectonico si tiene varias desventajas y algunas de ellas las vi
        cuando lo estaba intentando aplicar. Al aplicarlo al principio hacer las divisiones en más carpetas y archivos en otros 
        codigos y aparte tener que buscar por el ID todos mis labs hizo que se me complicara bastante al principio. También me 
        confundi en como funcionaban controller, models y su relación con routes y views.</p>
    </header>
</body>
</html>