<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 12</title>
    <link rel="stylesheet" href="/css/lab6.css">
</head>
<body class="all">
    <header class="header">
        <h1>Lab 12 HTML</h1>
        <h3> ¿Qué otros templating engines existen para node?</h3>
        <p class="questions2"> Los otros templating engines que existen para node son Pug (antes conocido como Jade), Handlebars, Mustache y entre varios más. Todos estos existen con su propio sintaxis y características, cumpliendo con el propósito final de poder generar un HTML dinamico.  </p>
        <h1">References</h2>
        <p class="questions2"> Casero, A. (2026). ¿Qué son los template engines? Recuperado de https://keepcoding.io/blog/que-son-los-template-engines/</p>
    </header>
</body>
</html>

