<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../includes/head.ejs', { 
    title: "Lab 24",
    cssFile: "/css/lab6.css"
}) %>
</head>
<body class="all">
    <header class="header">
        <h1>Lab 24 AJAX</h1>
        <h3> Laboratorio hecho en Proyecto Blackwall Maree Crepe</h3>
        <p class="questions2"> El Laboratorio fue realizado en el proyecto grupal dentro de la Rama RegistrarOrden. Esta rama fue desarrollada por mi compañero Carlos Delgados Contreras y yo y se peude el desarrollod e este laboratorio dentro de los commits "Registrar Orden v1" y "Registar Orden V2" </p>
        <h3> Link a Repo</h3>
        <a href="https://github.com/Citybanamex16/BlackWall-Maree.git"> Blackwall Maree</a>
    </header>
</body>
</html>